{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meowa</title>
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Picture1.png' %}" >
</head>
<body>
    <!-- <h1>Hello Dira</h1> -->
    <div class="wrapper">
        <div class="box1" style="place-items: end;">
            <a href="#">
                <input type="button" value="Book now!" style="background-color: red; padding: 20px; border: none; height: 20px; border-radius: 15px;">
            </a>
        </div>
        




            
        <div class="box2">Two</div>
        <div class="box3">Three</div>
    </div>
</body>
</html>